/* App.css */

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar ul li a:hover {
  /* background-color: #555; */
  color: #a6a1ab;
}

.main-content {
  display: flex;
  flex: 1;
}

.navbar-vertical {
  background-color: #f0f0f0;
  padding: 20px;
  width: 200px;
}

.navbar-vertical ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-vertical ul li {
  margin-bottom: 10px;
}

.navbar-vertical ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

.navbar-horizontal {
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 10%;
  margin: auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color:black;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  display: block;
  text-decoration: none;

}

button:hover {
  color: #a6a1ab;
}